<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867698227436-mu320i5dme9qr1im76g73qgf606lbd98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867698227436-mu320i5dme9qr1im76g73qgf606lbd98</string>
	<key>API_KEY</key>
	<string>AIzaSyCsdspWHAeIgKNcBpYWpDtBKSv8uaP0E0g</string>
	<key>GCM_SENDER_ID</key>
	<string>867698227436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inoteProject.dev</string>
	<key>PROJECT_ID</key>
	<string>inote-880a6</string>
	<key>STORAGE_BUCKET</key>
	<string>inote-880a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867698227436:ios:0427b78cbce9c9c4e34dc9</string>
	<key>DATABASE_URL</key>
	<string>https://inote-880a6.firebaseio.com</string>
</dict>
</plist>